/* scroll-top.component.css */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(255, 127, 80, 0.6);
  transition: bottom 0.3s ease; /* Transición suave para el movimiento */
}

.scroll-top-btn:hover {
  background-color: #e0673d;
}
