/* ===== NAVBAR ===== */
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  padding: 15px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.8rem;
  font-weight: 700;
}
.logo a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.logo span {
  color: #ff7f50;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
}
.nav-links li a:hover {
  color: #ff7f50;
} 
/* ===== HAMBURGUESA ===== */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #ff7f50;
  border-radius: 2px;
  transition: 0.3s;
}

.btn {
  padding: 12px 25px;
  background: #ff7f50;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn span {
  color: #9b59b6;
  font-weight: 600;
}

.btn:hover{
  background-color: #fff;

}


/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  /* Navbar */
  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 15px;
    transition: right 0.3s ease;
    border-radius: 8px;
  }
  .nav-links.active {
    right: 10px;
  }
  .nav-links li {
    margin-left: 0;
  }
  .hamburger {
    display: flex;
  }
}
