.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff7f50;
  color: #fff;
  border: none;
  font-size: 2rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.prev { left: 8px; }
.next { right: 8px; }

.nav:hover {
    color: #e0673d;
  background-color: #fff;
}


.indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Puntico normal (aro) */
.indicator {
  width: 10px;
  height: 10px;
  border: 2px solid #ff7f50;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Puntico activo (relleno) */
.indicator.active {
  background: #ff7f50;
}
