.scroll-top-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #ff7f50;
  color: #fff;
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  box-shadow: 0px 0px 15px rgba(255, 127, 80, 0.6);
}
.scroll-top-btn:hover {
  background: #e0673d;
} 