/* ===== HOME ===== */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  min-height: 100vh;
}
.home-left {
  width: 55%;
}
.home-left h2 {
  font-size: 2.8rem;
}
.home-left h2 span {
  color: #ff7f50;
}

.home-left h3 {
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
.home-left p span {
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 25px;
  margin: 10px;
  background: #ff7f50;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn span {
  color: #9b59b6;
  font-weight: 600;
}

.btn:hover {
  background: #e0673d;
}
.home-right img {
  width: 600px;
  border-radius: 10px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  /* Home */
  .home {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 100px;
  }
  .home-left,
  .home-right {
    width: 100%;
  }
  .home-right img {
    width: 80%;
    margin: auto;
    display: block;
  }
}
